body {
  background-image: url("kep/bg.png");
  background-repeat: round;
  background-size: contain;
  overflow-x: hidden;
}

nav[class="nav"] {
  animation: load 1s forwards;
}

nav[class="nav"] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

nav[class="nav"] li {
  float: right;
  margin-top: 2.5%;
  margin-right: 20px;
}

nav[class="nav"] li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  border-radius: 10px;
}

nav[class="nav"] li a:hover {
  background-color: #111;
  color: crimson;
}
nav[class="nav"] ul img {
  width: 8%;
  padding: 2%;
}

@keyframes load {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 10%;
  }
  25% {
    opacity: 25%;
  }
  35% {
    opacity: 35%;
  }
  50% {
    opacity: 50%;
  }
  65% {
    opacity: 65%;
  }
  75% {
    opacity: 75%;
  }
  85% {
    opacity: 85%;
  }
  100% {
    opacity: 100%;
  }
}

svg {
  opacity: 90%;
}
.etelek {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: fit-content;
}

.oszlop {
  padding: 45px;
  flex: 43;
  background-color: rgba(23, 23, 23, 0.9);
}

.oszlop p {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin-top: 1rem;
  font-size: 1.5rem;
}
div.oszlop img:hover {
  transition-duration: 0.8s;
  transform: scale(1.15);
}
.kosar_button {
  border-radius: 8px;
}

.container {
  position: relative;
}

.kozep {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #00fff2;
  font-style: oblique;
}

.lent {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #00ff37;
  font-style: oblique;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(44, 59, 69);
}

::-webkit-scrollbar-thumb {
  background: rgba(220, 20, 60, 0.842);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 19, 66, 0.979);
}

.logobutton {
  width: 200px;
}
img[alt="kosarlogo"] {
  size: 20em;
}
.footer{
  position: relative;
  color: aliceblue;
  background-color: dimgray;
}
.footer p,
.footer h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: rgb(255, 78, 78);
}
div[class="container"] img:checked{
border: #00ff37 solid;
}

.labl {
  display : block;
  width: 400px;
}
.labl > input{
  visibility: hidden;
  position: absolute;
}
.labl > input + div{
  cursor:pointer;
  border:2px solid transparent;
}
.labl > input:checked + div img{
  border: 5px solid #ff4848;
}